$bright-blue: #99D6F9;
$dark-blue: #034E79;

.scss-grid3 {
  display: grid;
  grid-template: 1fr 1fr / repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "c d";
  width: 500px;
  height: 500px;

  div {
      min-height: 100%; //div{} was affecting height
  }

  .r-top {
    background: $bright-blue;
    grid-area: a;

    button {
      background: aquamarine;
      padding: 5px;
    }

  }

  .r-bot{
    background: $bright-blue;
    grid-area: d;
  }

  .b-top {
    background: $dark-blue;
    grid-area: b;
  }

  .b-bot {
    background: $dark-blue;
    grid-area: c;
  }

}
